# ignore video files globally
*.mp4
*.mov
*.avi
*.mkv

# Ignore common temp, backup, and system files
*.bak
*.tmp
*.swp
.DS_Store
Thumbs.db
node_modules/
.vscode/
__pycache__/
# Ignore all .log files
*.log
# Ignore all .env files
*.env
# Ignore all dist/build output
/dist/
/build/
